unicorn_approvals/ApprovalsService/target/**
unicorn_contracts/ContractsService/target/**
unicorn_web/ApprovalService/target/**
unicorn_web/SearchService/target/**
unicorn_web/Common/target/**
**/.aws-sam/
.DS_Store**
.vscode/settings.json
buildall.sh
deleteall.sh
/.idea/**
/cloudapp.iml
/unicorn_approvals/PropertyFunctions/PropertyService.iml
/unicorn_web/PropertyFunctions/PropertyWeb.iml
/unicorn_contracts/ContractsFunction/ContractsModule.iml
**/cdk.out/
