unicorn_approvals/PropertyFunctions/target/*
unicorn_contracts/ContractsFunction/target/**
unicorn_web/PropertyFunctions/target/**
**/.aws-sam/
.DS_Store**
.vscode/settings.json
buildall.sh
deleteall.sh
/.idea/**
/cloudapp.iml
/unicorn_approvals/PropertyFunctions/PropertyService.iml
/unicorn_web/PropertyFunctions/PropertyWeb.iml
/unicorn_contracts/ContractsFunction/ContractsModule.iml
**/cdk.out/